@font-face {
  font-family: 'icomoon';
  src:  url('../assets/font/fonts/icomoon.eot?d1o0ew');
  src:  url('../assets/font/fonts/icomoon.eot?d1o0ew#iefix') format('embedded-opentype'),
    url('../assets/font/fonts/icomoon.ttf?d1o0ew') format('truetype'),
    url('../assets/font/fonts/icomoon.woff?d1o0ew') format('woff'),
    url('../assets/font/fonts/icomoon.svg?d1o0ew#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.card_1,.card_2,.card_3{
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card_1:before {
  content: "\e901";
  color: white;
}
.card_2:before {
  content: "\e902";
  color: #db3259;
}
.card_3:before {
  content: "\e900";
  color: #db3259;
}
