/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

/* Custom Variable */
:root {
  /* font */
  --font--primary: "Open Sans", sans-serif;
  /* color */
  --color-primary: #db3259;
  --color-bg-primary: #24272e;
  --color-header-bg: #24272ebd;
  --color-bg-secondary: #171a1f;
}
/* resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* base styles */
/* grid */
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
/* button */
.btn {
  text-transform: uppercase;
  text-align: center;
  border-radius: 49px;
  border: 1px var(--color-primary) solid;
  font-family: var(--font--primary);
  font-weight: 600;
  font-size: 14px;
  padding: 10px 20px;
  color: var(--color-primary);
}
.btn--colored {
  background-color: var(--color-primary);
  color: white;
  padding: 10px 40px;
}

/* Header section */
/* header background image */
#header {
  background-image: url(../assets/image/header_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
}
/* top menu bar */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: var(--color-header-bg);
}

/* logo */
.topbar__logo {
  display: flex;
}
.topbar__logo__icon {
  font-size: 23px;
}
.topbar__logo__text {
  font-family: var(--font--primary);
  font-size: 20px;
  color: var(--color-primary);
  margin-left: 5px;
}

/* list item */
.topbar__item__list {
  position: absolute;
  top: 55px;
  left: 0px;
  background-color: var(--color-primary);
  width: 100%;
  height: 360px;
  text-align: center;
}
.topbar__item__list--hide {
  display: none;
}
.topbar__item__list li {
  margin: 20px 0px;
}
.topbar__item__list a {
  color: white;
  font-family: var(--font--primary);
  font-weight: 600;
  font-size: 20px;
}
/* menu icon */
.burger {
  color: white;
  font-size: 20px;
}
/* welcome section */
.welcome {
  color: white;
  font-family: var(--font--primary);
  text-align: center;
  padding: 50px 0;
}
.welcome__title {
  grid-column: 2/12;
  font-weight: 600;
  line-height: 1.25;
}
.welcome__text {
  grid-column: 2/12;
  padding: 40px 0;
}
.welcome__btn {
  grid-column: 4/10;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.welcome__btn a {
  margin-bottom: 15px;
}

/*  About Us section  */
#about {
  padding: 40px 0px;
  text-align: center;
  font-family: var(--font--primary);
  color: white;
  background-color: var(--color-bg-primary);
}
/* about us grid */
.about__content {
  grid-row-gap: 25px;
}
/* about us heading */
.about__heading {
  font-size: 25px;
  position: relative;
  padding-bottom: 10px;
}
.about__heading::before {
  content: "";
  position: absolute;
  width: 28%;
  height: 1px;
  top: 19px;
  left: 10px;
  background-color: var(--color-primary);
}
.about__heading::after {
  content: "";
  position: absolute;
  top: 19px;
  right: 10px;
  width: 28%;
  height: 1px;
  background-color: var(--color-primary);
}
/* About us content */
.about__content__text {
  grid-column: 2/12;
}
.about__contect__video {
  width: 100%;
  grid-column: 2/12;
}

/* Testimonials section*/
#testimonial {
  padding: 40px 0px;
  text-align: center;
  color: white;
  font-family: var(--font--primary);
  background-color: var(--color-bg-secondary);
}
/* Testimonials heading */
.testimonial__heading {
  font-size: 25px;
  position: relative;
  padding-bottom: 10px;
}

.testimonial__heading::before {
  content: "";
  position: absolute;
  width: 10%;
  height: 1px;
  top: 19px;
  left: 10px;
  background-color: var(--color-primary);
}
.testimonial__heading::after {
  content: "";
  position: absolute;
  top: 19px;
  right: 10px;
  width: 10%;
  height: 1px;
  background-color: var(--color-primary);
}
/* testimonial content */
.testimonial__content__img {
  grid-column: 2/12;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  margin: 0% auto;
}
.testimonial__content__img--one {
  width: 35px;
  height: 35px;
}
.testimonial__content__img--two {
  width: 50px;
  height: 50px;
}
.testimonial__content__img--three {
  width: 70px;
  height: 70px;
}
.testimonial__content__img--four {
  width: 50px;
  height: 50px;
}
.testimonial__content__img--five {
  width: 35px;
  height: 35px;
}

/* review message  */
.testimonial__content__review {
  grid-column: 2/12;
  padding: 20px 0;
}
.testimonial__content__review__client {
  padding: 10px 0;
}
.testimonial__content__review__text {
  width: 80%;
  margin: 0 auto;
}
/*  Offers section  */
#offer {
  padding: 40px 0px;
  text-align: center;
  font-family: var(--font--primary);
  background-color: var(--color-bg-primary);
}

/* offer section heading */
.offer__heading {
  font-size: 25px;
  color: white;
  position: relative;
  padding-bottom: 10px;
}

.offer__heading::before {
  content: "";
  position: absolute;
  width: 26%;
  height: 1px;
  top: 19px;
  left: 10px;
  background-color: var(--color-primary);
}
.offer__heading::after {
  content: "";
  position: absolute;
  top: 19px;
  right: 10px;
  width: 26%;
  height: 1px;
  background-color: var(--color-primary);
}
/* offer content */
.offer__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px 20px;
}
/* cards */
.offer__content__card {
  max-width: 310px;
  margin: 20px 10px;
  padding: 20px 20px 50px;
  border-radius: 10px;
}
.offer__content__card i {
  font-size: 35px;
}

.offer__content__card h2 {
  font-size: 20px;
  margin: 3px 0px 15px;
}

.offer__content__card:nth-child(1) {
  background-color: #fff;
}
.offer__content__card:nth-child(2) {
  background-color: var(--color-primary);
  color: white;
}

.offer__content__card:nth-child(3) {
  background-color: #fff;
}
/* Gallery Section */
#gallery {
  padding: 40px 0px;
  text-align: center;
  font-family: var(--font--primary);
  color: white;
  background-color: var(--color-bg-secondary);
}
/* heaidng */
.gallery__heading {
  font-size: 25px;
  position: relative;
  padding-bottom: 30px;
}

.gallery__heading::before {
  content: "";
  position: absolute;
  width: 25%;
  height: 1px;
  top: 19px;
  left: 10px;
  background-color: var(--color-primary);
}
.gallery__heading::after {
  content: "";
  position: absolute;
  top: 19px;
  right: 10px;
  width: 25%;
  height: 1px;
  background-color: var(--color-primary);
}
/* content  */
.gallery__content {
  margin: 20px 20px;
}
.gallery__content__img {
  width: 150px;
  height: 150px;
}

/* Membership Plans Section  */
#membership {
  padding: 40px 0px;
  text-align: center;
  font-family: var(--font--primary);
  color: white;
  background-color: var(--color-bg-primary);
}
/* membership content */
.membership__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* Membership Plans Heading */
.membership__heading {
  font-size: 25px;
  position: relative;
  padding-bottom: 10px;
}

.membership__heading::before {
  content: "";
  position: absolute;
  width: 12%;
  height: 1px;
  top: 19px;
  left: 10px;
  background-color: var(--color-primary);
}
.membership__heading::after {
  content: "";
  position: absolute;
  top: 19px;
  right: 10px;
  width: 12%;
  height: 1px;
  background-color: var(--color-primary);
}
/* Membership Plans Content */
/* Membership card */
.membership__content__card {
  max-width: 400px;
  margin: 20px 10px;
  padding-bottom: 30px;
  border-radius: 10px;
  background-color: var(--color-bg-secondary);
  overflow: hidden;
}
.membership__content__card__title {
  color: black;
  background-color: #fff;
  padding: 10px 0;
  margin-bottom: 20px;
  /* border-top-left-radius:10px ;
  border-top-right-radius: 10px; */
}
.membership__content__card__text {
  border-bottom: gray 1px solid;
  padding-bottom: 20px;
  margin: 0px 30px 20px;
}
.membership__content__card__text:nth-of-type(1),
.membership__content__card__text:nth-last-of-type(1) {
  border: none;
}
/* membership price */
.membership__content__card__text span {
  font-size: 40px;
  font-weight: 700;
}
/* 2nd card modification */
.membership__content__card__title--Modified {
  padding: 10px 0;
  margin-bottom: 20px;
  background-color: var(--color-primary);
}

/* Buttons */
.membership__content a:nth-of-type(1),
.membership__content a:nth-of-type(3) {
  padding: 10px 40px;
}
/* Contact section */
#contact-us {
  position: relative;
  font-family: var(--font--primary);
  text-align: center;
  color: white;
  padding: 50px 20px;
}
#contact-us::before {
  content: "";
  background-image: url(../assets/image/contacts_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
  z-index: -9;
  
}

/* contact title */
.contact__title {
  font-size: 25px;
  position: relative;
  padding-bottom: 10px;
}
/* contact number */
.contact__number {
  font-size: 25px;
  padding-bottom: 25px;
}
/* contact__text */
.contact__text {
  padding-bottom: 25px;
}
/* footer */
.footer{
  background-color: var(--color-bg-secondary);
  color: white;
  grid-row-gap: 20px;
  padding: 40px 0px;
  font-family: var(--font--primary);
}
.about{
  grid-column: 2/12;
}
.about h4{
  color: var(--color-primary);
}
.about p{
  padding: 5px 0 15px;
}
.address{
  grid-column: 2/12;
}
.address h3{
  padding-bottom: 5px;
}
.address p{
  padding-bottom: 3px;
}

.socials i{
  color: var(--color-primary);
  border: gray 1px solid;
  border-radius: 50%;
  margin: 10px 5px 10px 0px;
  padding: 3px;
}

.timetable{
  grid-column: 2/12;
  margin-top: 20px;
}
.timetable td:nth-of-type(1){
  padding-right: 20vw;
}
/* copyright */
.copyright{
  background-color: var(--color-primary);
  text-align:center;
  font-family: var(--font--primary);
  color: white;
  font-size: 13px;
  padding: 10px 0;
}